**Importación de librerías**

In [1]:
import numpy as np
import pandas as pd

**Lectura de datos**

**Atajo → Nuevas celdas de Código → `b`**

# Python basics
## Tipos de datos
- string → '5'
- int → 5
- float → 5.0
- bool → True, False
- variable → a = 5

<br>

|Tipo de Dato | Descripción | Ejemplos|
|-------------|-------------|---------|
|int | Números enteros (positivos,negativos, o cero). | 1, -5, 0, 42|
|float | Números de punto flotante (decimales). | 3.14, -0.001, 2.0|
|complex | Números complejos (con parte real e imaginaria). | 3 + 5j, 1.5 - 2j|
|bool | Tipo booleano, representa valores de verdad. | True, False|
|NoneType | Representa la ausencia de valor (tipo especial). | None|
|str | Cadena de caracteres (texto). | 'hello', "Python", <br> `'''multilínea'''`|
|bytes |  Secuencia inmutable de bytes (datos binarios). | b'abc', <br> `b'\x89PNG\r\n\x1a\n'`|

<br>

Estos son los tipos de datos escalares más comunes en Python, que representan
valores individuales en lugar de estructuras de datos complejas.

In [2]:
ival = 17239871 # int
ival

17239871

In [3]:
fval = 7.243 # float
fval

7.243

In [4]:
a = 'one way of writing a string' # Strings
a

'one way of writing a string'

In [5]:
si = True #Booleans
si

True

### Type casting

In [6]:
s = "3.14159" # Esto es un str
s

'3.14159'

In [7]:
fval = float(s) # Convertir str a float
fval

3.14159

In [8]:
type(fval) # Conocer el tipo de valor de una variable

float

In [9]:
int(fval) # Convertir a tipo int

3

In [10]:
bool(fval) # Convertir a bool

True

In [11]:
bool(0) # Confirmar si bool es igual a 0

False

### None

In [12]:
a = None # Asignar la variable a como vacía
a

In [13]:
a is None # Prueba

True

In [14]:
b = 5
b is not None # Probar si b NO es una variable vacía

True

## Funciones incorporadas de python
Fragmentos de código que procesan una entrada (Argumento, parmetro)

In [15]:
a = 5
print('a')

a

In [16]:
type(a)

int

In [17]:
b = 'hola'
len(b)

4

In [18]:
str(a)

'5'

In [19]:
int(a)

5

In [20]:
float(a)

5.0

* format() → reemplaza {}

In [21]:
a = 5 
b = 1

In [22]:
print('El resultado de', a, 'dividido', b, 'es', a/b)

El resultado de 5 dividido 1 es 5.0

In [23]:
print('El resultado de {} dividido {} es {}'.format(a,b,a/b))

El resultado de 5 dividido 1 es 5.0

In [24]:
print(f'El resultado de {a} dividido {b} es {a/b}')

El resultado de 5 dividido 1 es 5.0

-   `input()`:<br> Solicita una entrada <br> await imput → espera hasta qu el usuario responda <br><br> **Ejemplo:** Solicitar el nombre del usuario `nombre = input("¿Cuál es tu nombre? ")` <br> Imprimir un saludo `print("Hola, " + nombre + "!")`

## Operadores

-   `*`
-   `/`
-   `+`
-   `-`
-   `**` (Exponente)

## Transformación de booleans

Rpresentación en int: - Verdadero → 1 - Falso → 0 Se pueden transformar en cadenas con `str()`

## Data Structures

### Listas \[ \]

Colección ordenada y mutable de elementos

In [25]:
a = [1, 2, 3, 2, 4, 7]
b = [4, 3, 2]
c = [] # Lista vacía

#### Rebanar

In [26]:
# Traer el segundo elemento
a[1]

2

In [27]:
a[1:4]

[2, 3, 2]

In [28]:
# Traer el último elemento
a[-1]

7

#### Anidar listas

In [29]:
c = [a, b]
c

[[1, 2, 3, 2, 4, 7], [4, 3, 2]]

In [30]:
# Extraer el tercer elemento de la segunda lista dentro de c
c[1][2]

2

#### Modificar lista

In [31]:
# Modificar el 2 elemento de a
a[1] = 8
a

[1, 8, 3, 2, 4, 7]

In [32]:
tupla = (2,1)
tupla

(2, 1)

In [33]:
lista = list(tupla) # Convertir a lista
lista

[2, 1]

#### Funciones de listas
- **.append(elemento)** → Añadir elemento al final de la lista
- **.extend(lista)** → Añadir una lista al final de otra
- **.remove('x')** → Remueve el primer elemento de la lista que sea 'x'
- **.index(elemento)** → Muestra el indice del elemento indicado
- **.count(elemento**) → Cuenta el # de veces que aparece un elemento en una lista
- **.reverse()** → Revierte el orden de la lista
- **.sort()** → Ordena A-Z
- **.sort(reverse = True)** → Ordena Z-A
- **.copy()** → Copia la lista
- **len(lista)** → Longitud de la lista
- 'Elemento' **in** lista → Prueba de pertenencia
- **.clear()** → Elimina todos los elementos de una lista
- **del lista[x]** → Remueve un elemeto en función de una posición (x)

In [34]:
a = [1,1,3,2,3,4,5]
b = ['a', 'b', 'c','d']

In [35]:
b.append('e')
b

['a', 'b', 'c', 'd', 'e']

In [36]:
a.extend(b)
a

[1, 1, 3, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [37]:
a.remove(1)
a

[1, 3, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']

In [38]:
a.index(5)

5

In [39]:
a.count(3)

2

In [40]:
a.reverse()
a

['e', 'd', 'c', 'b', 'a', 5, 4, 3, 2, 3, 1]

In [41]:
b.sort(reverse=True)
b

['e', 'd', 'c', 'b', 'a']

In [42]:
b.sort()
b

['a', 'b', 'c', 'd', 'e']

In [43]:
len(a)

11

In [44]:
del b[1]
b

['a', 'c', 'd', 'e']

In [45]:
'c' in b

True

In [46]:
b.clear()
b

[]

### Tuplas ( )
Similares a las listas pero no se pueden modificar

In [47]:
d = (1,3,4,5,5)

In [48]:
d[1] # Extraer el elemento 2

3

`d[1]= 2` NO ES POSIBLE MODIFICAR UNA TUPLA

In [49]:
# Convertir a tupla una lista
s = tuple([4, 0, 2])

In [50]:
tup = tuple('string') # Convertir a tupla la palabra string
tup

('s', 't', 'r', 'i', 'n', 'g')

#### Funciones de tuplas
* **tup1 + tup2** → Concatenar tuplas
* **len(tup)** → Longitud
* 'elemento' **in** tup → Prueba de pertenencia

In [51]:
k = s + tup
k

(4, 0, 2, 's', 't', 'r', 'i', 'n', 'g')

In [52]:
len(k)

9

In [53]:
't' in k

True

### Conjuntos `{Sets}`
Colección desordenada de **elementos únicos (no permite duplicados)**

In [54]:
a = {'a','b', 1, 2, 'a'}
b = {1, 4, 5, 'c'}
a

{1, 2, 'a', 'b'}

#### Funciones de conjuntos
* **Set()** → Crear un conjunto vacío
* **.add(elemento)** → Añadir un elemento al conjunto
* 'elemento' **in** conjunto → Prueba de pertenencia
* **.update(lista)** → Añadir varios elementos al conjunto
* **.remove(elemento)** → Eliminar un elemento del conjunto
* **.clear()** → Eliminar todos los elementos del conjunto

In [55]:
v = set()
v

set()

In [56]:
v.add(1)
v

{1}

In [57]:
1 in v

True

In [58]:
v.update(a)
v

{1, 2, 'a', 'b'}

In [59]:
v.remove(1)
v

{2, 'a', 'b'}

In [60]:
v.clear()
v

set()

#### Lógica de conjuntos
* **Intersección** → a `&` b
* **in** → para identificar si un elemento está en un conjunto
* **Diferencia** → a `-` b (Está en a pero no en b)
* **Diferencia simérica** → a `^` b (Todo menos la intersección)
* **Unión** → a `|` b

In [61]:
a & b

{1}

In [62]:
print('1' in b)

False

In [63]:
print(1 in b)

True

In [64]:
a - b

{2, 'a', 'b'}

In [65]:
b - a

{4, 5, 'c'}

In [66]:
a ^ b

{2, 4, 5, 'a', 'b', 'c'}

In [67]:
a | b

{1, 2, 4, 5, 'a', 'b', 'c'}

### Diccionario `{}`
Se le pueden asignar *claves*

In [68]:
f = {'clave1' : ['a','b', 'c'], 'clave2' : 2, 'clave3' : a}
f

{'clave1': ['a', 'b', 'c'], 'clave2': 2, 'clave3': {1, 2, 'a', 'b'}}

In [69]:
f['clave1'] # Trae el elemento colrrespondiente a la clave1

['a', 'b', 'c']

#### Funciones de diccionarios
* **del dicc['clave']** → Eliminar un elemento del diccionario en función de una clave
* 'clave' **in** dicc → Prueba de pertenencia
* **dicc['clave'] = elemento** → Sustituir/ crear un elemento
* **.copy()** → Copiar diccionario
* **list(dicc)** → Lista de las claves
* **.pop('clave')** → Recuperar un valor y eliminarlo al mismo tiempo
* **len(dicc)** → Longitud
* **.clear()** → Eliminar todos los elementos del diccionario

In [70]:
del f['clave2']
f

{'clave1': ['a', 'b', 'c'], 'clave3': {1, 2, 'a', 'b'}}

In [71]:
'clave3' in f

True

In [72]:
f['clave3'] = b
f

{'clave1': ['a', 'b', 'c'], 'clave3': {1, 4, 5, 'c'}}

In [73]:
list(f)

['clave1', 'clave3']

In [74]:
f.pop('clave3')

{1, 4, 5, 'c'}

In [75]:
len(f)

1

## Funciones personalizadas
### Funciones
```python
def nom_fn(arg1, arg2):
    '''
    Cadeba de documentación (docstring)
    Aquí se explica qué hace la fn
    '''
    resultado = arg1 + arg2     # Aquí se pone la sentencia (Lo que hace la fn)
    return resultado

help(nom_fn) # Para ver docstring
```
para que la fn devuelva una salida → `return` → devuelve el resultado como una cadena de texto (no imprime el resultado)

In [76]:
def add_and_maybe_multiply(a, b, c=None):
    '''Esta función toma los argumentos a y b y los suma. Si el argumento c no es nulo, multiplica el resultado de la suma anterior por c'''
    result = a + b
    if c is not None:result = result * c
    return result

In [77]:
help(add_and_maybe_multiply)

Help on function add_and_maybe_multiply in module __main__:

add_and_maybe_multiply(a, b, c=None)
    Esta función toma los argumentos a y b y los suma. Si el argumento c no es nulo, multiplica el resultado de la suma anterior por c

In [78]:
add_and_maybe_multiply(3, 5.6)

8.6

In [79]:
add_and_maybe_multiply(3, 5.6, 3)

25.799999999999997

In [80]:
def media(a):
    return np.mean(a)

In [81]:
l = [1,2,3,4,5,6]

In [82]:
media(l)

np.float64(3.5)

In [83]:
data = data = [
    ["Masculino", "Moda", 60, 4497.63, 820.12, 24],
    ["Masculino", "Moda", 40, 3371.45, 961.18, 19],
    ["Masculino", "Tecnología", 37, 4871.87, 1266.02, 26],
    ["Femenino", "Moda", 25, 6605.92, 954.58, 15],
    ["Masculino", "Alimentos", 48, 4781.91, 1098.94, 22],
    ["Femenino", "Tecnología", 43, 3251.68, 31.80, 22],
    ["Femenino", "Alimentos", 34, 3772.23, 768.46, 16],
    ["Femenino", "Alimentos", 27, 6027.40, 1085.96, 13],
    ["Masculino", "Tecnología", 28, 4519.92, 633.85, 20],
    ["Masculino", "Tecnología", 33, 3032.72, 1130.37, 18]
    ]
columna = ["Ge", "Cp", "Ed", "Im", "Gp", "Fc"]

df = pd.DataFrame(data, columns=columna)
df

          Ge          Cp  Ed       Im       Gp  Fc
0  Masculino        Moda  60  4497.63   820.12  24
1  Masculino        Moda  40  3371.45   961.18  19
2  Masculino  Tecnología  37  4871.87  1266.02  26
3   Femenino        Moda  25  6605.92   954.58  15
4  Masculino   Alimentos  48  4781.91  1098.94  22
5   Femenino  Tecnología  43  3251.68    31.80  22
6   Femenino   Alimentos  34  3772.23   768.46  16
7   Femenino   Alimentos  27  6027.40  1085.96  13
8  Masculino  Tecnología  28  4519.92   633.85  20
9  Masculino  Tecnología  33  3032.72  1130.37  18

In [84]:
def calcular_media(df,columna):
    return df[columna].mean()

In [85]:
calcular_media(df,'Ed')

np.float64(37.5)

In [86]:
def my_function2(x, y, z=1.5):
    ''' 
    Suma dos valores (x, y) y modifica el resultado según el valor de z.

    Parámetros:
    - x (numérico): Primer valor para la suma.
    - y (numérico): Segundo valor para la suma.
    - z (numérico, opcional): Factor de modificación. Si z es mayor que 1 (o 1.5 por defecto), 
      multiplica el resultado de la suma por z. Si z es menor o igual a 1, divide el resultado por z.

    Retorno:
    - numérico: El resultado modificado de la suma.
    '''
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [87]:
my_function2 (1,2)

4.5

In [88]:
my_function2(1,2,3)

9

In [89]:
my_function2(1,2,-3)

-1.0

### Funciones lambda
Son una forma concisa de definir funciones anónimas (es decir, funciones sin nombre). Se usan principalmente para operaciones rápidas y sencillas, y suelen ser útiles cuando necesitas una función pequeña que se ejecute en un contexto específico sin requerir una definición formal con def.
```python
lambda argumentos: expresión

In [90]:
suma = lambda x, y: x + y
suma(2, 3)

5

### Loops/ Bucles
```python
for item in secuencia:
    # Hacer algo con item
```
Donde *secuencia* es una lista, tupla, df, etc.

In [91]:
for i in range (1,6):
    i += 6
    print (i)

7
8
9
10
11

In [92]:
df

          Ge          Cp  Ed       Im       Gp  Fc
0  Masculino        Moda  60  4497.63   820.12  24
1  Masculino        Moda  40  3371.45   961.18  19
2  Masculino  Tecnología  37  4871.87  1266.02  26
3   Femenino        Moda  25  6605.92   954.58  15
4  Masculino   Alimentos  48  4781.91  1098.94  22
5   Femenino  Tecnología  43  3251.68    31.80  22
6   Femenino   Alimentos  34  3772.23   768.46  16
7   Femenino   Alimentos  27  6027.40  1085.96  13
8  Masculino  Tecnología  28  4519.92   633.85  20
9  Masculino  Tecnología  33  3032.72  1130.37  18

In [93]:
# Sacar la media de las culumnas numéricas
for col in df.select_dtypes(include=['number']):
    print(f'media de {col}: {df[col].mean()}')

media de Ed: 37.5
media de Im: 4473.273
media de Gp: 875.1279999999999
media de Fc: 19.5

In [94]:
sequence = [1, 2, None, 4, None, 5]
total = 0
for value in sequence:
    if value is None:
        continue
    total += value
    print(total)

1
3
7
12

**Tareas comunes**
~ Rellenear lista de forma iterativa
``` python
lista = [] #Definir lista vacía
for i in lista:
    nuevoitem = cualquier_fn(item)
    lista.append(nuevoitem)
```

### Condicionales
Permiten ejecutar diferentes bloques de código basados en condiciones específicas.
* if
* elif
* else

```python
if condicion_1a and condicion_1b:
    # Código que se ejecuta si condicion_1 es verdadera
elif condicion_2a or condicion_2b:
    # Código que se ejecuta si condicion_1 es falsa y condicion_2 es verdadera   
elif condicion_3a > condicion_3b:
    # Se Pueden añadir tantos 'elif' como sean  necesarios
else:
    # Código que se ejecuta si todas las condiciones anteriores son falsas
```
**Operadores de comparación:**
- `==` igual a
- `!=` diferente de
- `>` mayor que
- `<` menor que
- `>=` mayor o igual a
- `<=` menor o igual a

**Operadores lógicos:**

- `and`: ambas condiciones deben ser True.
- `or`: al menos una de las condiciones debe ser True.
- `^`: devuelve True solo si uno de los dos valores es True, y el otro es False
- `not`: invierte el valor de una condición.

In [95]:
x = 5
if (x > 5):
    print('x es mayor que 5')
elif x == 5:
    print('x es igual a 5')
else:
    print('x es menor que 5')

x es igual a 5

In [96]:
x = -5
if x < 0:
    print("It's negative")
if x < 0:
    print("It's negative")
elif x == 0:
    print("Equal to zero")
elif 0 < x < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

It's negative
It's negative

Ejemplo función + condicionales

In [97]:
def xa(a):
    x = a
    if x < 0:
        print("It's negative")
    elif x == 0:
        print("Equal to zero")
    elif 0 < x < 5:
        print("Positive but smaller than 5")
    else:
        print("Positive and larger than or equal to 5")

In [98]:
xa(3)

Positive but smaller than 5

In [99]:
xa(5)

Positive and larger than or equal to 5